body{
    background-color: beige;
    text-align: center;
}
h1{
    font-family: 'Chakra Petch', sans-serif;
text-shadow: 3px 0 black;
font-size: 3rem;
}
.btn{
        outline: none;
        border: 10px solid #404B69;
        font-size:20px ;
        font-family: 'Arvo', cursive;
        line-height: 2;
        font-weight: 900;
        color: #DA0463;
        text-shadow: 3px 0 #DBEDF3;
        border-radius: 15px;
        display: inline-block;
        width: 150px;
        height: 150px;
        text-align: center;
        margin: 10px;
        background-color: white;
      
}